.calc-container {
  margin: 5vh 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55vh;
  height: 90vh;
  background-color: black;
  border-radius: 25px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 80px);
}

button {
  height: 60px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 20px;
  margin: 10px;
}

button.clear {
  height: 70px;
  background-color:chocolate;
  color: white;
  border: none;
  border-radius: 30px;
  margin: 5px;
}
button.operator {
  background-color:chocolate;
}

.display {
  grid-column-start: 1;
  grid-column-end: 5;
  height: 35vh;
  font-size: 50px;
  text-align: right;
  color: white;
  background-color: black;
  border: none;
  padding-right: 10px;
  padding-top: 20px;
  margin-bottom: 25px;
}
