.app-container {
  width: 500px;
  height: 500px;
}

.calculator {
  display: grid;
  grid-template-columns: repeat(4, 80px);
}

button {
  height: 80px;
  background-color: white;
  border: 0.5px solid gray;
}

button.operator {
  background-color: gray;
}

.display {
  grid-column-start: 1;
  grid-column-end: 5;
  height: 60px;
  font-size: 30px;
  text-align: right;
  border: 2px solid black;
  padding-right: 10px;
  padding-top: 20px;
}
