body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calculator {
  width: 350px;
  margin: 2.5vh 7.5vh;
  border-radius: 20px;
  background-color: black;
}
.buttonSection{
  display: grid;
  grid-template-columns: repeat(4, 10vh);
  justify-content: center;
  padding-bottom: 30px;
}
button {
  height: 7.5vh;
  width: 7.5vh;
  font-size: 2.5vh;
  color: white;
  border: transparent;
  border-radius: 20px;
  margin: 10px;
  background-color: grey;
}
.operator {
  color:coral;
  background-color:wheat;
}
.display {
  grid-column-start: 1;
  grid-column-end: 5;
  height: 10vh;
  font-size: 7vh;
  color: white;
  padding-top: 21vh;
  padding-bottom: 21vh;
  padding-right: 25px;
  text-align: right;
}